{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}
{% block content %}

<h1>{% trans "Verify Your E-mail Address" %}</h1>

{% if messages %}
    {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}

<p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</p>

<a href="{% url 'email_verification_instructions' %}">{% trans "Click here if you need to see the instructions again." %}</a>

{% endblock %}