{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<h1>Log In</h1>

<p>DEBUG</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction" type="submit">Log In</button>
</form>

<p>Don't have an account? <a href="{{ signup_url }}">Sign up</a></p>
{% endblock %}